{{ with .Site.Data.supportSection }}
{{ if .enable }}
<section class="section support" id="support">
    <div class="container">
        <div class="row">
            {{ range $index, $card := .cards }}
            <div class="col-lg-6 col-md-6 col-sm-12 mb-4">
                <div class="support-card {{ if eq $card.id "psicologico" }}support-card-light{{ else }}support-card-dark{{ end }} {{ if eq $index 0 }}active{{ end }}" data-toggle="collapse" data-target="#collapse-{{ $card.id }}" aria-expanded="{{ if eq $index 0 }}true{{ else }}false{{ end }}" data-parent="#supportAccordion">
                    <div class="support-card-header">
                        <div class="support-icon">
                            <i class="fa {{ $card.icon }}"></i>
                        </div>
                        <h3 class="support-title">{{ $card.title }}</h3>
                    </div>
                </div>
            </div>
            {{ end }}
        </div>
        <div class="row">
            <div class="col-12">
                <div id="supportAccordion">
                    {{ range $index, $card := .cards }}
                    <div class="collapse support-collapse {{ if eq $index 0 }}show{{ end }}" id="collapse-{{ $card.id }}" data-parent="#supportAccordion">
                        <div class="support-content">
                            <div class="support-intro">
                                <p>{{ $card.description }}</p>
                            </div>
                            <div class="support-details">
                                <h4>Può trattarsi di:</h4>
                                <ul class="support-list">
                                    {{ range $card.items }}
                                    <li>
                                        <strong>{{ .title }}</strong>
                                        <p>{{ .content }}</p>
                                    </li>
                                    {{ end }}
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
